<div class="Toolbar">
    {{#if session.isAuthenticated}}
        {{#link-to 'index' tagName='button' class="toolbarButton"}}
            Home
        {{/link-to}}
        {{#link-to 'about' tagName='button' class="toolbarButton"}}
            About
        {{/link-to}}
        {{#link-to 'shop' tagName='button' class="toolbarButton"}}
            Shop
        {{/link-to}}
        {{#link-to 'cart' tagName='button' class="toolbarButton"}}
            Cart
            <div class="cartItems" >{{cartLength}}</div>
        {{/link-to}}
        <button class="toolbarButton"> <a {{action 'invalidateSession'}}>Logout</a></button>
    {{else}}
        {{#link-to 'login' tagName='button' class="toolbarButton"}} Login{{/link-to}}
    {{/if}}
</div>
{{outlet}}