<div> 
    {{#if cartItems}}
        <div>
            {{#each cartItems as |item|}} {{#added-item actionName="removeFromCart" item=item}} {{/added-item}} {{/each}}
        </div>
    {{else}}
        <div>Nu aveti iteme in cos</div>
    {{/if}}
</div>
{{computeCount}}
{{fullName}}